<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DG.roque.appistear">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.DG.roque.appistear.MainActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.DG.roque.appistear.Juegos"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.Cocteleria"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.Opciones"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.Acercade"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.Tequila"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.Ron"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.Whisky"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.Vodka"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.Mezcal"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.Cocteleria_dinamica"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.Jugadores"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.CoronaRey"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.JuegoRetos"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.OpCorona"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.OpRetos"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DG.roque.appistear.Comojugar"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.DG.roque.appistear.Alerta"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>