<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roque.appistear">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Juegos"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cocteleria"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Opciones"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Acercade"
            android:configChanges="locale|orientation" />
        <activity android:name=".Tequila" />
        <activity android:name=".Ron" />
        <activity android:name=".Whisky" />
        <activity android:name=".Vodka" />
        <activity android:name=".Mezcal" />
        <activity
            android:name=".bebidas_dinamicas"
            android:label="@string/title_activity_bebidas_dinamicas"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>