<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DG.roque.appistear">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Juegos"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cocteleria"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Opciones"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Acercade"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tequila"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ron"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Whisky"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vodka"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mezcal"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cocteleria_dinamica"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Jugadores"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoronaRey"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JuegoRetos"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OpCorona"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OpRetos"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Comojugar"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Alerta"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JugadoresDinamicos"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>